* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.tittle {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: 100px;
    margin-bottom: 40px;
}

.tittle h2 {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 80px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    color: rgba(91, 135, 229, 0.10);
    transform: translateX(-50%);
}

.tittle h4 {
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    color: #5b87e5;
}

.main {
    display: flex;
}

/* -------- nav Start -------- */

nav {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li a {
    color: #fff;
    margin: 0 15px;
    position: relative;
    transition: .5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a::before {
    width: 0;
    height: 4px;
    background: #e6e7e8;
    position: absolute;
    top: -26px;
    left: 50%;
    content: "";
    transition: .5s;
    transform: translateX(-50%);
}

nav ul li a:hover {
    color: #e6e7e8;
}

nav ul li a:hover::before {
    width: 100%;
}

nav .sing_btn a {
    padding: 15px 20px;
    background: #fff;
    border-radius: 25px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}

nav .sing_btn a:hover {
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.445);
}

/* -------- nav Ens -------- */


/* -------- banner Start -------- */
#banner_sec {
    background: url(../image/bannerBG.png) no-repeat center;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 75px;
}

#banner_sec h2 {
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

#banner_sec h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    position: relative;
    margin-top: 10px;
    margin-bottom: 35px;
}

#banner_sec h4::after {
    width: 60px;
    height: 1px;
    color: #fc3b64;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}


#banner_sec .deta {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 25px;
}

#banner_sec .link {
    position: relative;
    padding-left: 100px;
}

#banner_sec .link p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
}

#banner_sec .app_store {
    display: inline-block;
    margin-right: 50px;
    margin-left: 25px;
    text-align: center;
}

#banner_sec .app_store i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(35deg, #00e1ff, #2075ff);
    color: #222;
    border-radius: 50%;
    transition: .3s;
    font-size: 25px;
}

#banner_sec .app_store span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

#banner_sec .Play_store {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}

#banner_sec .Play_store i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #222;
    border-radius: 50%;
    transition: .3s;
    font-size: 25px;
}

#banner_sec .Play_store span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

#banner_sec .app_store:hover i {
    background: #fff;
    color: rgb(39, 39, 39);
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.445);
}

#banner_sec .Play_store:hover i {
    background: linear-gradient(35deg, #00e1ff, #2075ff);
    color: rgb(26, 26, 26);
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.445);
}


#banner_sec .img_re {
    position: relative;
}

#banner_sec .img_re img {
    position: absolute;
    bottom: -60%;
    left: 0;
}

/* -------- banner END -------- */


/* -------- banner END -------- */
#feature {
    padding: 120px 0 70px;
}

/* -------- banner END -------- */


/* -------- banner END -------- */


#feature .pill_menu {
    padding-top: 95px;
}

#feature .feature_pill button {
    font-size: 20px;
    font-weight: 700;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background: transparent;
    transition: .5s;
    margin: 20px 0;
    position: relative;
}

#feature .feature_pill .active {
    margin-left: 40px;
    color: #5b86e5;

}

#feature .feature_pill .active::after {
    opacity: 1;
    width: 250px;
}

#feature .feature_pill button::after {
    position: absolute;
    top: 55%;
    left: 57%;
    width: 0;
    height: 2px;
    background: #5b86e5;
    content: "";
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s;
}


#feature .feature_pill .deta {
    display: flex;
    align-items: center;
    padding-left: 75px;
}

#feature .feature_pill .item {
    text-align: center;
    background: #fafafa;
    padding: 30px;
    box-shadow: 0px 0px 7px 3px rgba(199, 199, 199, 0.38);
}

#feature .feature_pill .item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
}

#feature .feature_pill .item p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
}

/* -------- banner END -------- */


/* -------- banner END -------- */
#portfolio {
    padding-bottom: 60px;
}

#portfolio .image {
    position: relative;
}

#portfolio .image img {
    width: 100%;
}

#portfolio .image .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(43, 209, 221, 0.75), rgba(88, 132, 228, 0.75));
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .image .overlay i {
    font-size: 72px;
    color: #fff;
}


#portfolio .item {
    position: relative;
    padding-left: 140px;
    margin: 75px 0;
}

#portfolio .item .iso {
    font-size: 52px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(25deg, #fb5723, #f7ae31);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 100px;
}

#portfolio .item .android {
    font-size: 52px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(25deg, #f8b80b, #fce9b5);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 100px;
}

#portfolio .item .windows {
    font-size: 52px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(25deg, #047487, #65f5cc);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 100px;
}

#portfolio .item h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

#portfolio .item p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

/* -------- banner END -------- */

/* -------- qna_sec END -------- */
#qna_sec {
    background: #fafafa;
    padding: 30px 0;
}

#qna_sec .img img {
    width: 100%;
}

#qna_sec .accordion {
    margin-top: 70px;
}

#qna_sec .accordion-item {
    margin: 15px 0;
}

#qna_sec .accordion-item button {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
}

#qna_sec .accordion-item .accordion-button .plus {
    opacity: 0;
}

#qna_sec .accordion-item .collapsed .plus {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    font-size: 25px;
    opacity: 1;
}

#qna_sec .accordion-item .accordion-button .min {
    position: absolute;
    top: 25%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    opacity: 1;
}

#qna_sec .accordion-item .collapsed .min {
    opacity: 0;
}

#qna_sec .accordion-item p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

#qna_sec .accordion-button::after {
    background-image: none;
}

#qna_sec .accordion-button:not(.collapsed)::after {
    background-image: none;
}

#qna_sec .accordion-button:focus {
    z-index: 0;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

#qna_sec .accordion-button:not(.collapsed) {
    color: #5b86e5;
    background-color: #f0f0f0;
}

#qna_sec .accordion-button {
    border: none;
}

#qna_sec .accordion-collapse {
    border: none;
    background: #f0f0f0;
    margin-top: 15px;
}

/* -------- qna_sec END -------- */


/* -------- screenshot END -------- */
#screenshot {
    padding: 40px 0;
}

#screenshot .item {
    margin: 40px 5px;
    transition: .5s;
}

#screenshot .slick-center {
    transform: scale(1.13);
}

/* -------- screenshot END -------- */


/* -------- testimonial END -------- */
#testimonial {
    padding-bottom: 50px;
}

#testimonial .item {
    text-align: center;
    margin: 50px 35px;
    transition: .5s;
    transition: .5s;
    opacity: .3;
}

#testimonial .item .contain {

    padding: 30px;
    padding-top: 60px;
    position: relative;
    background: #fafafa;
    box-shadow: 0px 0px 7px 3px rgba(199, 199, 199, 0.38);
}

#testimonial .item .img_round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffd76c;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 5px;
}

#testimonial .item img {
    width: 100%;
}

#testimonial .item h2 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
    font-family: 'Open Sans', sans-serif;
}

#testimonial .item .titt {
    font-size: 16px;
    font-weight: 600;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

#testimonial .item .deta {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

#testimonial .item .back_bar {
    width: 115%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: -34px;
    z-index: -1;
    transform: translateY(-50%);
    opacity: 0;
    background: #fafafa;
    box-shadow: 0px 0px 7px 3px rgba(199, 199, 199, 0.38);
    transition: .5s;
}

#testimonial .slick-center .back_bar {
    opacity: 1;
}

#testimonial .slick-center {
    opacity: 1;
}

#testimonial .prev {
    position: absolute;
    top: 47%;
    left: 30%;
    transform: translateY(-50%);
    font-size: 30px;
    z-index: 5;
    color: #444;
    transition: .3s;
    cursor: pointer;
}

#testimonial .next {
    position: absolute;
    top: 47%;
    right: 30%;
    transform: translateY(-50%);
    font-size: 30px;
    z-index: 5;
    color: #444;
    transition: .3s;
    cursor: pointer;
}

#testimonial .prev:hover {
    color: #5b86e5;
}

#testimonial .next:hover {
    color: #5b86e5;
}

/* -------- testimonial END -------- */



/* -------- team_sec END -------- */
/* -------- team_sec END -------- */



/* -------- contact_sec END -------- */
#contact_sec {
    padding: 40px 0;
}

#contact_sec form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dddddd;
    background: transparent;
    padding: 15px 0;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

/* 
#contact_sec form input:focus-visible {
    border: transparent;
} */

#contact_sec form .comment_box {
    padding-bottom: 100px;
}

#contact_sec form .btn {
    width: 100%;
}

#contact_sec form button {
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
    background: linear-gradient(to right, #36d1dc, #5a87e5);
    font-size: 20px;
    border: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* -------- contact_sec END -------- */



/*  */